@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components{
   .btn-primary{
    background-color: theme('colors.primary');
    padding: 0.5rem;
    color: white;
    border-radius: 12px;
   }
}